            body {
                padding: 0;
                z-index: 0;
                background-color: rgb(250, 147, 140);
                color: white;
                font-family: sans-serif;
                margin: 0;
            }
            nav {
               background-color: rgb(145, 19, 10);
               color: white;
               width: 100%;
               height: 52px;
               position: fixed;
               z-index: 1 !important;
               text-align: center;
               float: left;
               font-size: 20px;
               margin-top: -25px;
               
            }
            nav a{
                background-color: rgb(145, 19, 10);
                color: white;
                margin: 1% to 5%;
                padding: 1%;
                z-index: 2 !important;
                border-radius: 4%;
                text-decoration: none;
            }
            nav a:hover {
                background-color: white;
                color: orange;
                width: 20%;
                height: 50px;
                z-index: 2 !important;
                margin: none;
            }
            nav a:active {
                background-color: white;
                color: orange;
                width: 20%;
                height: 50px;
                z-index: 2 !important;
                margin: none;
                }
            #welcome {
                padding-top: 5px;
            }
            #warning {
                background-color: yellow; 
                color: black; 
                width: 300px; 
                height: 150px; 
                border: red 5px solid;
                text-align: center;
                margin-left: 28%;
                margin-right: 30%;
            }
            h1, h2, h3, h4, h5, h6 {
                text-decoration: none;
            }
